.chatbot {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.chatbot-logo {
  width: 50%; /* Ajusta el tamaño de la imagen según tus necesidades */
  margin: 0 auto;
  display: block;
}

.chatbot-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #3f51b5;
  color: white;
}

.chatbot-header img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.chat-window {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
  max-height: 500px;
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.message.user {
  background-color: #e0f7fa;
  align-self: flex-end;
  color: #00796b;
}

.message.bot {
  background-color: #e8eaf6;
  align-self: flex-start;
  color: #3f51b5;
}

.message .highlight {
  font-weight: bold;
}

.chatbot-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}

.chatbot-input input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 5px;
  background-color: #e8f0fe;
}

.chatbot-input button {
  padding: 3px 7px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8em;
}

.chatbot-input button:hover {
  background-color: #004d40;
}
